@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource-variable/overpass-mono";
@import "@fontsource-variable/rubik";

@font-face {
  font-family: "FruitsDelight";
  src: url("/fonts/FruitsDelight.otf");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-red);
  background-color: #fcf9e9;
  overflow-x: hidden;
}

:root {
  --theme-yellow: oklch(0.922 0.127 95.646);
  --theme-red: oklch(0.559 0.153 23.425);
  --theme-brown: oklch(0.396 0.094 358.327);
}

.color-red {
  color: var(--theme-red);
}

.mono {
  font-family: "Overpass Mono", monospace;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.fruits-delight {
  font-family: "FruitsDelight", "Bush Script MT", fantasy;
}

